*.main {

    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;

}

.card {

    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;


}

.card:hover {
    box-shadow: 2px 2px 15px;
    transition: 0.5s;

}




.card-body {

    border-radius: 10 px;
}

.card-body:hover {
    background-color: beige;
    transition: .5s;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.btn:hover {
    transition: 10s
}

.carousel {

    height: 400px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    margin-top: 1.5cm;

}

.down {
    margin-top: 58%;

}