.navbar {
    justify-content: flex-end;
    /* align navbar to right */
}

.navbar-nav {
    margin-left: auto;
    /* push navbar items to right */
}

.banner-image {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('/img/banner.jpg');
    background-size: cover;
}
